.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

/* Изображение логотипа */
.logo {
  width: 228px;
  height: 32px;
}

/* Позиционирование логотипа в header */
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 2;
  background-image: url(../images/logo_place_header.svg);
}

/* Заголовок header */
.header__title {
  max-width: 730px;
  margin-left: 64px;
  z-index: 2;
  font-size: 102px;
  font-weight: bold;
  line-height: 96px;
  color: #000;
}

/* Текстовый блок header */
.header__subtitle {
  margin: auto;
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 2;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  color: #000;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

/* Изображение header */
.header__main-illustration {
  object-fit: cover;
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

/* Фоновое изображение header */
.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}

/* Верхний отступ */
.description {
  margin-top: 100px;
}

/* Задаем параметры flex */
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}

/*Заголовок description*/
.two-columns__brief {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  color: #2f80ed;
}

/*Три блока с описанием проблем*/
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

/*Задаем характеристики блока paragraph*/
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 30px 0 0 0;
  color: #000;
}

/*Обнуляем отступы первого блока paragraph*/
.two-columns__paragraph:first-of-type {
  margin-top: 0;
}

/*Выделение фразы внутри строки*/
.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

/* Делаем верхний отступ */
.digits {
  margin: 100px 0;
}

/*Общие параметры заголовка*/
.section-title {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  color: #000;
}

/*Общие параметры подписи заголовка*/
.section-subtitle {
  width: 60%;
  margin: auto;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000;
}

/*Параметры таблицы Фейнмана и Кауфмана*/
.table {
  width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Ячейка блока цифры*/
.table__cell {
  width: 250px;
  margin-top: 60px;
}

/*Параметры заголовка*/
.table__heading {
  margin: auto;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

/*Параметры текста*/
.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #000;
}

/*Параметры блока*/
.feynman {
  min-height: 890px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  background: no-repeat left bottom url(../images/feynman.png) #f2f2f2;
  background-size: 867px 637px;
}

.feynman__title {
  margin: 100px 0 0 0;
  width: 648px;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  color: #000;
}

.feynman__subtitle {
  margin: 70px 0 0 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  padding: 90px 0;
  background-color: #1f1f1f;
  overflow: hidden;
  position: relative;
}

/*Параметры заголовка, тёмная тема*/
.section-title_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
}

/*Параметры подписи заголовка, тёмная тема*/
.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
  position: relative;
}

/*Параметры таблицы Кауфмана, темная тема*/
.table_theme_dark {
  z-index: 1;
  position: relative;
}

/*Блок Кауфман, ячейка, тёмная тема*/
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

/*Блок Кауфман, заголовок ячейки, тёмная тема*/
.table__heading_theme_dark {
  color: white;
}

/*Блок Кауфман, текст ячейки, тёмная тема*/
.table__text_theme_dark {
  color: white;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: 877px 877px;
}

.footer {
  background-color: #1f1f1f;
  min-height: 350px;
  display: flex;
  justify-content: center;
}

.footer__columns {
  margin: 60px 0 40px 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__column {
  display: flex;
}

.footer__column_content_copyright {
  position: relative;
  flex-basis: 711px;
}

/*Логотип для footer*/
.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  position: absolute;
  margin: 18px 0 18px 0;
  bottom: 0;
  left: 0;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column_content_info {
  flex-direction: column;
}

.footer__column-heading {
  margin: 0 0 20px 0;
  top: 0;
  left: 0;
  color: white;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.footer__column-links {
  margin: 0 0 16px 0;
  list-style: none;
  padding: 0;
}

.footer__column-link {
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  color: white;
  text-decoration: none;
}

.footer__column_content_social {
  flex-direction: column;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}